Different Types of Joins

Joins are used to combine records from 2 or more tables in a Dbase

A join always locates related column values in the two tables

1. Left Join- returns all rows from left table, even if there are no matches in the right table

In [1]:
import pandas as pd
world_champions= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2,on='Team',how='left'))

          Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0        India           2                  2011       874         NaN
1    Australia           3                  2015       787         NaN
2  West Indies           7                  1979       753         NaN
3     Pakistan           8                  1992       673         NaN
4    Sri Lanka           4                  1996       855         NaN

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

2. Right Join- Preserves the unmatched rows from the second (right) table, joining them with a NULL in the shape of the first(left) table

In [2]:
import pandas as pd
world_champions= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2,on='Team',how='right'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0  South Africa         NaN                   NaN       NaN           1
1   New Zealand         NaN                   NaN       NaN           5
2      Zimbabwe         NaN                   NaN       NaN           9

   Points_y
0       895
1       764
2       656

3. Inner Join- Selects all rows from both participating tables if there is a match between the columns

In [3]:
import pandas as pd
world_champions= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2,on='Team',how='inner'))

Empty DataFrame
Columns: [Team, ICC_rank_x, World_champions_Year, Points_x, ICC_rank_y, Points_y]
Index: []

4. Fuller Outer Join- Returns all records when there is a match in either left (table1) or right (table2) table records

In [4]:
import pandas as pd
world_champions= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2,on='Team',how='outer'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0         India         2.0                2011.0     874.0         NaN
1     Australia         3.0                2015.0     787.0         NaN
2   West Indies         7.0                1979.0     753.0         NaN
3      Pakistan         8.0                1992.0     673.0         NaN
4     Sri Lanka         4.0                1996.0     855.0         NaN
5  South Africa         NaN                   NaN       NaN         1.0
6   New Zealand         NaN                   NaN       NaN         5.0
7      Zimbabwe         NaN                   NaN       NaN         9.0

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5     895.0
6     764.0
7     656.0